
.vs/StringCalculator/v15/.suo
.vs/StringCalculator/v15/Browse.VC.db
.vs/StringCalculator/v15/Browse.VC.opendb
.vs/StringCalculator/v15/ipch/7b075261b841ce2.ipch
.vs/StringCalculator/v15/ipch/81c54bbefa8f75b3.ipch
.vs/StringCalculator/v15/ipch/94d10d40be55b952.ipch
Debug/StringCalculator.exe
Debug/StringCalculator.ilk
Debug/StringCalculator.pdb
Release/StringCalculator.iobj
Release/StringCalculator.ipdb
Release/StringCalculator.pdb
StringCalculator/Debug/Calculator.obj
StringCalculator/Debug/pch.obj
StringCalculator/Debug/StringCalculator.log
StringCalculator/Debug/StringCalculator.obj
StringCalculator/Debug/StringCalculator.pch
StringCalculator/Debug/StringCalculator.tlog/CL.command.1.tlog
StringCalculator/Debug/StringCalculator.tlog/CL.read.1.tlog
StringCalculator/Debug/StringCalculator.tlog/CL.write.1.tlog
StringCalculator/Debug/StringCalculator.tlog/link.command.1.tlog
StringCalculator/Debug/StringCalculator.tlog/link.read.1.tlog
StringCalculator/Debug/StringCalculator.tlog/link.write.1.tlog
StringCalculator/Debug/StringCalculator.tlog/StringCalculator.lastbuildstate
StringCalculator/Debug/Token.obj
StringCalculator/Debug/vc141.idb
StringCalculator/Debug/vc141.pdb
StringCalculator/Release/Calculator.obj
StringCalculator/Release/pch.obj
StringCalculator/Release/StringCalculator.log
StringCalculator/Release/StringCalculator.obj
StringCalculator/Release/StringCalculator.pch
StringCalculator/Release/StringCalculator.tlog/CL.command.1.tlog
StringCalculator/Release/StringCalculator.tlog/CL.read.1.tlog
StringCalculator/Release/StringCalculator.tlog/CL.write.1.tlog
StringCalculator/Release/StringCalculator.tlog/link.command.1.tlog
StringCalculator/Release/StringCalculator.tlog/link.read.1.tlog
StringCalculator/Release/StringCalculator.tlog/link.write.1.tlog
StringCalculator/Release/StringCalculator.tlog/StringCalculator.lastbuildstate
StringCalculator/Release/StringCalculator.tlog/StringCalculator.write.1u.tlog
StringCalculator/Release/Token.obj
StringCalculator/Release/vc141.pdb
